[submodule "submodules/dataset"]
	path = submodules/dataset
	url = https://si-analtycsi@dev.azure.com/si-analytics/SIALibs/_git/dataset
[submodule "submodules/siavision"]
	path = submodules/siavision
	url = https://si-analytics@dev.azure.com/si-analytics/SIALibs/_git/siavision
[submodule "submodules/geococo"]
	path = submodules/geococo
    url = https://si-analytics@dev.azure.com/si-analytics/_git/GEO-COCO
